.c-hero {
    min-height: 100vh;
    background: linear-gradient(180deg, rgba($dark, 0.4), rgba($dark, 0.9)),
                url('../assets/img/hero.jpg') center/cover no-repeat;
    text-shadow: 0 2px 4px rgba($dark, 0.8);
  }
  